<div
  id="fourth-web-ext"
  data-product_id="{{ product.id }}"
  data-product_gated="{{ product.gated? }}">Placeholder text
</div>
<script>
  window.myAppGates = [
    {%- for gate in product.gates -%}
      {%- if gate.configuration.app_id == 'fourth-web-ext' -%}
        {%- assign configuration = gate.configuration -%}
        {
          id: "{{ configuration.id }}",
          name: "{{ configuration.name | escape }}",
          requirements: {{ gate.configuration.metafields.fourth-web-ext.requirements }},
          reaction: {{ gate.configuration.metafields.fourth-web-ext.reaction }},
          gateType: "{{ gate.configuration.metafields.fourth-web-ext.gateType }}"
        },
      {%- endif -%}
    {%- endfor -%}
  ];
</script>

{% comment %}
  Script needs to be loaded as a module to be able to use import statements.
{% endcomment %}
<script async type="module" src="{{ "index.js" | asset_url }}"></script>

{% schema %}
  {
    "name": "Tokengate",
    "target": "section",
    "templates": ["product"],
    "settings": []
  }
{% endschema %}